<%- include('./partials/header.ejs') %>
<div class="container">
    <h1>Reports</h1>
    <p>Logged in as <%= email %></p>
    

    <form action="/auth/logout/<%= user_id %>" method="POST">
        <fieldset>
            <input class="btn btn-primary" type="submit" value="Logout">
        </fieldset>
    </form><br>

    <a href="/behavior/summary">Into the Summary</a><br>
    
        <table class="table">
            <caption id="otherwise">You are what you report</caption>
            <thead>
                <tr>
                    <th>Reporting date</th>
                    <th>Sleep duration</th>
                    <th>Sleep quality</th>
                    <th>Morning mood</th>
                    <th>Sport and Exercise</th>
                    <th>Studying time</th>
                    <th>Regularity of eating</th>
                    <th>Quality of eating</th>
                    <th>Evening mood</th>
                </tr>
            </thead>
            <tbody>
            <% if (reports && reports.length > 0) { %>
                <% reports.forEach((report) => { %>
                    <tr> <% const date = (String(report.report_date)).split('00'); %>
                        <td><%= date[0] %></td>
                        <td><%= report.sleep_duration %></td>
                        <td><%= report.sleep_quality %></td>
                        <td><%= report.generic_mood_morning %></td>
                        <td><%= report.time_spent_on_sports_n_exercise %></td>
                        <td><%= report.time_spent_studying %></td>
                        <td><%= report.regularity_of_eating %></td>
                        <td><%= report.quality_of_eating %></td>
                        <td><%= report.generic_mood_evening %></td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="8">No reports available</td>
                </tr>
           <% } %>
            </tbody>
        </table>
    
    <h2>Add reports</h2>
    
    <label form="morning"><b>Morning</b></label>
    <form action="/behavior/reporting" method="POST" id="morning">
        <fieldset>
            <div class="form-group">

                <label for="sleep_duration">Sleep duration (h)</label>
                <input class="form-control" type="number" name="sleep_duration" value="<%= data.sleep_duration %>" id="sleep_duration" min="0" max="24" step="0.1">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'sleep_duration'}) %> <br>
            
                <label for="sleep_quality">Sleep quality (between 1-5 / very poor - excellent)</label>
                <input class="form-control" type="range" name="sleep_quality" value="<%= data.sleep_quality %>" id="sleep_quality" min="1" max="5">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'sleep_quality'}) %> <br>
                
                <label for="generic_mood_morning">Generic mood (between 1-5 / very poor - excellent)</label>
                <input class="form-control" type="range" name="generic_mood_morning" value="<%= data.morning_mood %>" id="generic_mood_morning" min="1" max="5">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'morning_mood'}) %> <br>
                
                <label for="date_morning">Date (to submit report for passed date enter date else leave blank)</label>
                <input class="form-control" type="date" name="date_morning" id="date_morning">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'date_morning'}) %>

                <input type="hidden" name="morning_or_evening" value="morning">
                
            </div>

            <input class="btn btn-primary" type="submit" value="Submit">

        </fieldset>
    </form> <br>

    <label form="evening"><b>Evening</b></label>
    <form action="/behavior/reporting" method="POST" id="evening">
        <fieldset>
            <div class="form-group">

                <label for="time_spent_on_sports_n_exercise">Time spent on sports and exercise (h)</label>
                <input class="form-control" type="number" name="time_spent_on_sports_n_exercise" value="<%= data.time%>" id="time_spent_on_sports_n_exercise" min="0" max="24" step="0.1">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'time'}) %> <br>
            
                <label for="time_spent_studying">Time spent studying (h)</label>
                <input class="form-control" type="number" name="time_spent_studying" value="<%= data.duration %>" id="time_spent_studying" min="0" max="24" step="0.1">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'duration'}) %> <br>
            
                <label for="regularity_of_eating">Regularity of eating (between 1-5 / very poor - excellent)</label>
                <input class="form-control" type="range" name="regularity_of_eating" value="<%= data.reqularity %>" id="regularity_of_eating" min="1" max="5">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'regularity'}) %> <br>
            
                <label for="quality_of_eating">Quality of eating (between 1-5 / very poor - excellent)</label>
                <input class="form-control" type="range" name="quality_of_eating" value="<%= data.quality %>" id="quality_of_eating" min="1" max="5">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'quality'}) %> <br>
            
                <label for="generic_mood_evening">Generic mood (between 1-5 / very poor - excellent)</label>
                <input class="form-control" type="range" name="generic_mood_evening" value="<%= data.evening_mood %>" id="generic_mood_evening" min="1" max="5">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'mood'}) %> <br>
                
                <label for="date_evening">Date (to submit report for passed date enter date else leave blank)</label>
                <input class="form-control" type="date" name="date_evening" id="date_evening">
                <%- include('./partials/errors.ejs', { errors: data.errors, attribute: 'date_evening'}) %>

                <input type="hidden" name="morning_or_evening" value="evening">

            </div>

            <input class="btn btn-primary" type="submit" value="Submit">

        </fieldset>
    </form>
</div>

<%- include('./partials/footer.ejs') %> <br><br>