<%- include('./partials/header.ejs') %>
<div class="container">
    <h1>Summary</h1>
    <p>Logged in as <%= email %></p>

    <form action="/auth/logout/<%= user_id %>" method="POST">
        <fieldset>
            <input class="btn btn-primary" type="submit" value="Logout">
        </fieldset>
    </form><br>
        <table class="table">
            <caption id="otherwise">Judgement day is here</caption>
            <thead>
                <tr>
                    <th>Sleep duration</th>
                    <th>Sport and Exercise</th>
                    <th>Studying time</th>
                    <th>Sleep quality</th>
                    <th>Morning mood</th>
                    <th>Evening mood</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= summary.sleep_duration.avg %></td>
                    <td><%= summary.exercise_time.avg %></td>
                    <td><%= summary.study_time.avg %></td>
                    <td><%= summary.sleep_quality.avg %></td>
                    <td><%= summary.mood_morning.avg %></td>
                    <td><%= summary.mood_evening.avg %></td>
                </tr>
            </tbody>
        </table>

    <a href="/behavior/reporting">Into the Reporting</a>

<%- include('./partials/footer.ejs') %> <br><br>